<!DOCTYPE html>
<html lang="fr">
  
  <head>
    <meta charset="UTF-8">
    <title>Correcteur S01 FSJS</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <body>
    <header>
      <h1>
        <a href="/">Correcteur S01 FSJS</a>
      </h1>
      <nav>
        <ul>
   
        </ul>
      </nav>
    </header>