
<%- include('partials/header') %>

<main>

<% if (locals.game) { %>
  <%- include(game.name) %>

  <script src="/js/<%= game.jsFile %>"></script>

<% } else { %>

  <div class="alert">Le jeu que vous cherchez n'existe pas</div>

<% } %>

</main>

<%- include('partials/footer') %>